<h1>Edit your notes here!</h1>

<form method="POST" action="/study_notes/<%= @study_note.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">


    <label>Title:</label>
    <input type="text" name="title" value="<%=@study_note.title%>">
    <label>Topic:</label>
    <input type="text" name="topic" value="<%=@study_note.topic%>">
    <br>
    <label>Notes:</label>
    <textarea name="notes"><%= @study_note.notes %></textarea>

    <input type="submit">
 <br>
    <hr>
   
<button><a href="/study_notes">Return  to see all Study Notes!</a></button>
<button><a href="/study_notes/new">Write some new notes!</a></button>
</form>