  
<h1>Welcome!</h1>
<br>
<h2>Here are all your notes:</h2>
<br>
<% @study_notes.each do |study_note| %>
    <h2 align="left"><a href="study_notes/<%=study_note.id%>"><%= study_note.title %></h2></a>
<% end %>

<button><a href="/study_notes/new">Write some new notes!</a></button>
