<h1>Sign up below!</h1>

<form method="POST" action='/users'>
  <label>name</label><br/>
  <input type="text" name="name"><br />

  <label>email</label><br/>
  <input type="text" name="email"><br/>
  
  <label>password</label><br/>
  <input type="password" name="password">
  
  <input type="submit" value="Sign Up!">
</form>

<% if @errors %>
    <% @errors.each do |error| %>
        <h3><%= error %></h3>
    <% end %>
<% end %>