<div class="container">
  <header><img src="images/study.jpeg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Your Study Notes Companion</h2>

    <div class="content">
      <p>Welcome your study notes companion!</p>
      <h3 align: left><a href="/login">Click here to log in</a>
      <br>
      <h3 align: left><a href="/users/signup">Not a user yet? Sign up here!</a>
    </div>
  </div>
</div>
<br>

